@charset "UTF-8";
@import "reset.css";
@import "cores.css";

@font-face {
    font-family: dragon Ball;
    src: url(fonts/Dragon\ Ball.ttf);

}


body{
    color: var(black);
    font-family: dragon Ball;
    background-color: var(--racing-red);

}
h1,p{
    text-align: center;
}
